/* FONTS */
$font-primary: 'Josefin Slab', serif;
$font-secondary: 'Verdana', sans-serif;
$font-size-large: 6em;
$font-size-medium: 3rem;
$font-size-normal: 1.2rem;
$font-size-small: .8rem;

/*COLORS*/
$color-primary: #FEFFFF;
$color-secondary: #202020;
$color-tertiary: #444444;
$color-theme: #82e74d;
