@import 'variables';
@import 'reset';
@import 'header';

/*grid*/
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  grid-area: header;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1.6rem;
  width: 100%;
}

.content {
  grid-area: content;
  background-color: magenta;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  grid-area: footer;
  background-color: cyan;
  display: flex;
  justify-content: center;
}

.content__about {
  // position: relative;
  width: 100%;
  // padding-top: 2rem;
  background-color: $color-primary;
  height: 25rem;
}

.content__about__intro {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 2rem;
}

.content__about__intro__square {
  width: 16rem;
  height: 16rem;
  background-color: $color-theme-emerald;
  z-index: 0;
}

.content__about__intro__title {
  position: absolute;
  left: 2rem;
  top: 3rem;
  color: $color-secondary;

  h2 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 300;
  }
}

.content__about__intro__title__part {
  display: block;
}
.content__about__intro__title__part__white {
  color: $color-primary;
  margin-right: 0.3rem;
  font-weight: 600;
}

.content__about__description {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
}

.content__about__description__text {
  width: 10rem;
  margin-right: 1rem;

  p {
    text-align: right;
    color: $color-grey;
    font-size: $font-size-small;
    position: relative;

    &::before {
      content: '<';
      color: $color-theme-emerald;
      font-weight: normal;
      font-size: 3.6rem;
      position: absolute;
      font-family: $font-secondary;
      top: -2rem;
      left: -1.5rem;
    }

    &::after {
      content: '>';
      color: $color-theme-emerald;
      font-weight: normal;
      font-size: 3.6rem;
      position: absolute;
      font-family: $font-secondary;
    }
  }
}

.content__about__description__photo {
  width: 9rem;
  height: 9rem;
  background-color: $color-grey;
}
