@import './flaticon/_flaticon.scss';
@import 'variables';
@import 'reset';
@import 'header';
@import 'content';
@import 'footer';

/*css grid*/
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  grid-area: header;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1.6rem;
  width: 100%;
  position: fixed;
  top: -1;
  z-index: 1000;
}

.content {
  margin-top: 6rem;
  grid-area: content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  grid-area: footer;
  background-color: $color-theme-emerald;
  display: flex;
  justify-content: center;
  color: $color-primary;
  padding: 2rem 0;
}
